{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Set New Password</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label>New Password:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label>Confirm Password:</label>
            <input type="password" name="cpassword" required>
        </div>
        <button type="submit">Set Password</button>
    </form>
</div>
{% endblock %}
